@model BuscoBicoFrontEnd.Models.ReviewModel
@{
    ViewData["Title"] = "Deletar Review";
}
<h1>@ViewData["Title"]</h1>
<h3>A seguinte Review sobre o prestador @Html.DisplayFor(model=> model.Prestador.Nome) será removida, deseja continuar?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Id:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            Autor:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autor.Nome)
        </dd>
        <dt class = "col-sm-2">
            Comentário:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentario)
        </dd>
        <dt class = "col-sm-2">
            Avaliação:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Avaliacao)
        </dd>
    </dl>
    <hr />
    <form asp-action="DeletarReview">
        <input type="submit" value="Apagar review" class="btn btn-danger" />
        <a class="btn btn-secondary" asp-asp-controller="Prestador" asp-action="ListarPrestador">Voltar para a lista</a>
    </form>
</div>
