@model BuscoBicoFrontEnd.Models.PrestadorReviewModel
@{
    ViewData["Title"] = "Editar Prestador";
}
<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <h6 class="text-dark">
        A review feita por @Html.DisplayFor(model => model.Cliente.Nome) sobre o Prestador @Html.DisplayFor(model => model.Prestador.Nome) será editada
    </h6>
    <div class="col-md-4">
        <form asp-action="EditarReview">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" onshow="false">
                <input asp-for="IdPrestador" value="@Model.Prestador.Id" hidden />
            </div>
            <div class="form-group" onshow="false">
                <input asp-for="IdCliente" value="@Model.Cliente.Id" hidden/>
            </div>
            <div>
                <label asp-for="Review.Comentario" class="control-label">Comentário:</label>
                <textarea asp-for="Review.Comentario" class="form-control" rows="3"></textarea>
            </div>
            <div>
                <label asp-for="Review.Avaliacao" class="control-label">Avaliação:</label>
                <input asp-for="Review.Avaliacao" class="form-control" max="10" min="0" />
                <span asp-validation-for="Review.Avaliacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br>
                <input type="submit" value="Editar Review" class="btn btn-secondary" />
                <input type="reset" value="Limpar" class="btn btn-secondary" />                
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <a class="btn btn-secondary" asp-action="ListarPrestador" asp-controller="Prestador">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
