@model IEnumerable<BuscoBicoFrontEnd.Models.ClienteModel>
@{
    ViewData["Title"] = "Listar Clientes";
}
<h1>@ViewData["Title"]</h1>
<p>
    <a class="btn btn-secondary" asp-controller="Cliente" asp-action="CadastrarCliente">Cadastrar Cliente</a>
    <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Início</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localizacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localizacao)
            </td>
            <td>                   
                @Html.ActionLink("Editar", "EditarCliente", new { /* id=item.PrimaryKey */ }) <br>
                @Html.ActionLink("Detalhar", "DetalharCliente", new { /* id=item.PrimaryKey */ }) <br>
                @Html.ActionLink("Deletar", "DeletarCliente", new { /* id=item.PrimaryKey */ })
      
            </td>
        </tr>
}
    </tbody>
</table>
