@model IEnumerable<BuscoBicoFrontEnd.Models.ClienteModel>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localizacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localizacao)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditarCliente", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "DetailharCliente", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Deletar", "DeletarCliente", new { /* id=item.PrimaryKey */ })
      
            </td>
        </tr>
}
    </tbody>
</table>
