@model IEnumerable<BuscoBicoFrontEnd.Models.ClienteModel>
@{
    ViewData["Title"] = "Listar Clientes";
}
<h1>@ViewData["Title"]</h1>
<p>
    <a class="btn btn-outline-dark" asp-controller="Cliente" asp-action="CadastrarCliente">Cadastrar Cliente</a>
    <a class="btn btn-outline-dark" asp-controller="Home" asp-action="Index">Início</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nome
            </th>
            <th>
                Telefone
            </th>
            <th>
                Localização
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localizacao)
            </td>
            <td>                   
                    @Html.ActionLink("Editar", "EditarCliente", new {  id=item.Id  },new{@class="btn btn-sm btn-outline-dark"}) 
                    @Html.ActionLink("Detalhar", "DetalharCliente", new { id=item.Id },new{@class="btn btn-sm btn-outline-dark"}) 
                    @Html.ActionLink("Deletar", "DeletarCliente", new { id=item.Id },new{@class="btn btn-sm btn-outline-dark"})
            </td>
        </tr>
}
    </tbody>
</table>
