@model IEnumerable<BuscoBicoFrontEnd.Models.PrestadorModel>
@{
    ViewData["Title"] = "Listar Prestadores";
}
<h1>@ViewData["Title"]</h1>
<p>
    <a class="btn btn-outline-dark" asp-controller="Prestador" asp-action="CadastrarPrestador">Cadastrar Prestador</a>
    <a class="btn btn-outline-dark" asp-controller="Home" asp-action="Index">Início</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nome
            </th>
            <th>
                Telefone
            </th>
            <th>
                E-mail
            </th>
            <th>
                Localização
            </th>
            <th>
                Função
            </th>
            <th>
                Descrição
            </th>
            <th>
                Val. Diária
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                R$: @Html.DisplayFor(modelItem => item.PrecoDiaria),00
            </td>
            <td>
                    @Html.ActionLink("Editar", "EditarPrestador", new {  id=item.Id  },new{@class="btn btn-sm btn-outline-dark"})
                    @Html.ActionLink("Detalhes", "DetalharPrestador", new { id=item.Id },new{@class="btn btn-sm btn-outline-dark"})
                    @Html.ActionLink("Deletar", "DeletarPrestador", new {  id=item.Id  },new{@class="btn btn-sm btn-outline-dark"})
            </td>
        </tr>
}
    </tbody>
</table>
